
<article class="post">
    <div class="title">
        <h2>{{title}}</h2> 
        <h4>{{user.username}}</h4>
        <p>{{blogPosts_text}}</p>
    </div>
    
    <div class="meta">
        <a href="/post/{{id}}">{{comments.length}}</a>
    </div>
</article>